

.App {
  text-align: center;
  
}

.Header {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, .9);
  color: whitesmoke;
  border-bottom: 1px solid rgba(0, 0, 0, .9) ;
}

.logo {
  margin-left: 15px;

  
}
.login, .register .create{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 0 auto;
  color: whitesmoke;
  margin-top: 5px;
  font-weight: bold;
}

.create{
  margin-left: 40px;
  font-weight: bold;
}
.register {
  font-weight: bold;
}