.App {
  text-align: center;
}
.Header {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
}

.logo {
  margin-left: 40px;
}
.login, .register{
  text-decoration: none;
  margin: 0 auto;
  color: whitesmoke;
  margin-top: 30px;
}