

.App {
  text-align: center;
}
body{
  background-color: slategrey;
}
.Header {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .9);
  color: whitesmoke;
  border-bottom: 1px solid rgba(0, 0, 0, .9) ;
}

.logo {
  margin-left: 15px;

  
}
.cart-btn, .login, .register .create{
  /* display: grid;
  grid-template-columns: 1fr; */
  text-decoration: none;
  margin: 0 auto;
  color: whitesmoke;
  margin-top: 5px;
  font-weight: bold;
}

.create{
  margin-left: 40px;
  font-weight: bold;
}
.register {
  font-weight: bold;
}